Package: com.birds.spacecandy
Name: Spacecandy
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: birds
Author: birds
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
